body {
  font-family: Arial, sans-serif;
  background: #f5f7fa;
}

.app {
  text-align: center;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  gap: 10px;
}

input {
  padding: 8px;
}

button {
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.result-card {
  margin-top: 20px;
  padding: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.high {
  background-color: #ffcccc;
  border: 2px solid red;
}

.low {
  background-color: #ccffcc;
  border: 2px solid green;
}